body {
    background-color: lightpink;
}

.triviaMain {
    text-align:center;
    background-color:seagreen;
    color: white;
    min-height: 20em;
    height:100%;
    margin-top:5%;
    }
.vertical-align {
    position:relative;
    top:25%;
}
.title {
    font-size:125px;
    }
#start {
    padding:25px;
    width:300px;
}
#timer, #questions, #submit {
    display:none;
}
#submit {
    margin:auto;
    margin-bottom:10px;
}
#questions {
    padding-top:5px;
}
.radio-inline{
    margin-bottom:3rem;
}
input{
    margin: 5px;
}