body {
    background-color: lightpink;
}

.triviaMain {
    text-align:center;
    background-color:seagreen;
    color: white;
    height:40em;
    margin-top:5%;
    }
.vertical-align {
    position:relative;
    top:25%;
}
.title {
    font-size:125px;
    }
#start {
    padding:25px;
    width:300px;
}
#timer {
    display:none;
}
#questions{
    display:none;
}